[user]
	email = hasanmahmud7152@gmail.com
	name = Hasan Mahmud
[credential]
	helper = manager
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = *
[alias]
	br = branch
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
	ck = checkout
	acm = !git add -A && git commit -m
[core]
	longpaths = true
[credential "helperselector"]
	selected = manager
