# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
append_keymap = [
  { on = ["<C-w>"], run = "close", desc = "Close the current tab or quit if it is last tab" },
  { on = ["R"], run = 'shell "C:/Users/hasan/dotfiles/tui/yazi/scripts/reveal.cmd \"\"%0\"\"" --confirm --orphan', desc = "Reveal" },

  # Navigation
  { on = ["<A-u>"], run = "arrow -50%", desc = "Move cursor up half page" },
  { on = ["<A-d>"], run = "arrow 50%", desc = "Move cursor down half page" },
  { on = ["<A-o>"], run = "arrow 50%", desc = "Move cursor down half page" },
  { on = ["<A-p>"], run = "seek -5", desc = "Seek up 5 units in the preview" },
  { on = ["<A-n>"], run = "seek 5", desc = "Seek down 5 units in the preview" },

  { on = ["<Backspace>"], run = "back", desc = "Go back to the previous directory" },
  { on = ["<C-o>"], run = "back", desc = "Go back to the previous directory" },
  { on = ["<C-j>"], run = "forward", desc = "Go forward to the next directory" },
  { on = "<A-Left>", run = "back",    desc = "Back to previous directory" },
  { on = "<A-Right>", run = "forward", desc = "Forward to next directory" },

  # Sort
  { on = [ ",", "t" ], run = "sort mtime --reverse",        desc = "Sort by modified time (reverse)" },
  { on = [ ",", "T" ], run = "sort mtime --reverse=no",     desc = "Sort by modified time" },
]

# TODO: update tab colors
# TODO: add fzf directory jump
# TODO: fix zoxide

prepend_keymap = [
  # Goto
  # { on = [".", "."], run = "cd ~/Desktop", desc = "Desktop" },
  { on = ["g", "d"], run = ["cd ~/Downloads", "sort mtime --reverse"], desc = "Downloads" },
  { on = ["g", "D"], run = ["cd ~/Documents", "sort mtime --reverse"], desc = "Documents" },
  { on = ["g", "p"], run = "cd ~/Pictures", desc = "Pictures" },
  { on = ["g", "v"], run = "cd ~/Videos", desc = "Videos" },
  { on = ["g", "M"], run = "cd ~/Music", desc = "Music" },
  { on = ["g", "r"], run = "plugin env-cd REPOES", desc = "repoes" },
  { on = ["g", "."], run = "cd ~/dotfiles", desc = "dotfiles" },
  { on = ["g", "1"], run = "cd C:/", desc = "windows (c:)" },
  { on = ["g", "2"], run = "cd D:/", desc = "videos (d:)" },

  { on = ["g", "a", "n"], run = "cd ~/AppData/Local/nvim-data/", desc = "Nvim data" },
  { on = ["g", "a", "l"], run = "cd ~/AppData/Local", desc = "AppData/Local" },
  { on = ["g", "a", "r"], run = "cd ~/AppData/Roaming", desc = "AppData/Roaming" },
  { on = ["g", "a", "s"], run = "cd ~/AppData/Local/Packages/MicrosoftWindows.Client.CBS_cw5n1h2txyewy/TempState/ScreenClip", desc = "ScreenClip" },
  { on = ["g", "a", "S"], run = "cd ~/AppData/Roaming/Microsoft/Windows/Start\\ Menu/Programs/Startup", desc = "Start Menu/Programs/Startup" },
  # cd ~/AppData/Local/Packages/Microsoft.ScreenSketch_8wekyb3d8bbwe/TempState

  # Actions
  { on = "<Space>", run = "plugin quicklook", desc = "Peek" },
  { on = "i", run = "plugin quicklook", desc = "Peek" },
  { on = "f", run = "plugin jump-to-char", desc = "Jump to char" },
  { on = "I", run = "Hidden toggle", desc = "Toggle the visibility of hidden files" },
  { on = ["g", "?"], run = "help", desc = "Help" },
  { on = ["g", "-"], run = "plugin git-root", desc = "Jump to git root" },

  # Menu
  { on = ["m", "s"], run = 'shell "bash ~/dotfiles/tui/yazi/scripts/share-code-file.bash \"%0\"" --confirm --block', desc = "Share file with https://0x0.st" },
  { on = ["m", "u"], run = 'shell "bash ~/dotfiles/tui/yazi/scripts/7z_unzip.sh \"%0\" \"CWD\"" --confirm --block', desc = "Extract in CWD with 7zip" },
  { on = ["m", "U"], run = 'shell "bash ~/dotfiles/tui/yazi/scripts/7z_unzip.sh \"%0\"" --confirm --block', desc = "Extract in 7zip" },
  { on = ["m", "z"], run = 'shell "bash ~/dotfiles/tui/yazi/scripts/7z_create.sh \"%0\"" --confirm --block', desc = "Create zip archive" },
  # { on = "<Tab>", run = "spot", desc = "Spot hovered file" },
  # { on = "r",         run = "rename --cursor=before_ext",  desc = "Rename selected file(s)" },

  # Tabs
  { on = ["T"], run = "tab_create --current", desc = "Create a new tab using the current path" },

  # Selection
  { on = ["v"], run = ["toggle", "arrow next"], desc = "Toggle the current selection state" },
  { on = ["V"], run = "visual_mode", desc = "Enter visual mode (selection mode)" },
  { on = ["U"], run = "visual_mode --unset", desc = "Enter visual mode (unset mode)" },
  # { on = ["<C-v>"], run = "select_all --state=none", desc = "Inverse selection of all files" },

  { on = [ "M" ], run = "plugin yamb save_by_key", desc = "Add bookmark" },
  { on = [ "'" ], run = "plugin yamb jump_by_key", desc = "Jump bookmark by key" },
  { on = [ "g", "'" ], run = "plugin yamb jump_by_fzf", desc = "Jump bookmark by fzf" },
  { on = [ "g", "m" ], run = "plugin yamb delete_by_fzf", desc = "Delete bookmark by fzf" },
  # { on = [ "u", "d" ], run = "plugin yamb delete_by_key", desc = "Delete bookmark by key" },
  # { on = [ "u", "A" ], run = "plugin yamb delete_all", desc = "Delete all bookmarks" },
  # { on = [ "u", "r" ], run = "plugin yamb rename_by_key", desc = "Rename bookmark by key" },
  # { on = [ "u", "R" ], run = "plugin yamb rename_by_fzf", desc = "Rename bookmark by fzf" },
]

[input]
prepend_keymap = [
  { on = ["<Esc>"], run = "close", desc = "Cancel input" },
  { on = ["<C-o>"], run = "escape", desc = "Go back the normal mode, or cancel input" },
]
