[user]
	email = 38243998+hasansujon786@users.noreply.github.com
	name = Hasan Mahmud
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = *
[alias]
	br = branch
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
	ck = checkout
